.q-btn-confirm, .q-btn-cancel {
  width: 102px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 4px;
  background: #20a7fe;
  color: #ffffff;
  margin-left: 28px;
  cursor: pointer;
}

.q-btn-cancel {
  background: #989797;
}

li {
  list-style: none;
}

.col.left-nav {
  background-color: #323542;
  max-width: 200px;
  & > ul {
    border-right: 0px;
    border-top: 1px solid #424450;
    li {
      color: white;
      background-color: #323542;
      height: 45px;
      line-height: 45px;
      border-bottom: 1px solid #424450;
      &.is-active {
        color: white;
        background-color: #295349;
      }
    }
  }
}


