@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?b2knv');
  src:  url('../fonts/icomoon.eot?b2knv#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?b2knv') format('truetype'),
  url('../fonts/icomoon.woff?b2knv') format('woff'),
  url('../fonts/icomoon.svg?b2knv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add01:before {
  content: "\e900";
  color: #07c362;
}
.icon-add02:before {
  content: "\e901";
  color: #fff;
}
.icon-add03:before {
  content: "\e902";
  color: #fb7702;
}
.icon-baocun:before {
  content: "\e903";
  color: #fff;
}
.icon-bianji:before {
  content: "\e904";
  color: #fff;
}
.icon-close:before {
  content: "\e905";
  color: #fff;
}
.icon-delete:before {
  content: "\e906";
  color: #ff3c3c;
}
.icon-delete02:before {
  content: "\e907";
  color: #fff;
}
.icon-dingwei:before {
  content: "\e908";
  color: #fff;
}
.icon-fangda:before {
  content: "\e909";
  color: #fff;
}
.icon-fwgd:before {
  content: "\e90a";
  color: #fff;
}
.icon-jczx:before {
  content: "\e90b";
  color: #fff;
}
.icon-jindu_dot:before {
  content: "\e90c";
  color: #07c362;
}
.icon-pgdn:before {
  content: "\e90d";
  color: #404959;
}
.icon-pgup:before {
  content: "\e90e";
  color: #404959;
}
.icon-quanpin:before {
  content: "\e90f";
  color: #fff;
}
.icon-question:before {
  content: "\e910";
  color: #ff3c3c;
}
.icon-right:before {
  content: "\e911";
  color: #07c362;
}
.icon-search:before {
  content: "\e912";
  color: #7b7c7c;
}
.icon-search01:before {
  content: "\e913";
  color: #fff;
}
.icon-shezhi:before {
  content: "\e914";
  color: #fff;
}
.icon-sla:before {
  content: "\e915";
  color: #07c362;
}
.icon-spbf:before {
  content: "\e916";
  color: #fff;
}
.icon-suoxiao:before {
  content: "\e917";
  color: #fff;
}
.icon-sxuan:before {
  content: "\e918";
  color: #fff;
}
.icon-sy:before {
  content: "\e919";
  color: #fff;
}
.icon-toux .path1:before {
  content: "\e91a";
  color: rgb(41, 84, 73);
}
.icon-toux .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(7, 195, 98);
}
.icon-tuic:before {
  content: "\e91c";
  color: #fff;
}
.icon-tzgg:before {
  content: "\e91d";
  color: #fff;
}
.icon-wbgl:before {
  content: "\e91e";
  color: #fff;
}
.icon-wrong:before {
  content: "\e91f";
  color: #ff3c3c;
}
.icon-xfdy:before {
  content: "\e920";
  color: #fff;
}
.icon-xfsb:before {
  content: "\e921";
  color: #fff;
}
.icon-xfwl:before {
  content: "\e922";
  color: #fff;
}
.icon-xiala:before {
  content: "\e923";
  color: #595a59;
}
.icon-xjgl:before {
  content: "\e924";
  color: #fff;
}
.icon-qh:before {
  content: "\e925";
  color: #fff;
}
