/*行和列*/
.row {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.row[column] {
  flex-direction: column;
}

.row[nowrap] {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}

.row[wrap-reverse] {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse
}

.row[align-items-start] {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}

.row[align-items-center] {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.row[align-items-end] {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}

.row[align-items-stretch] {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.row[align-items-baseline] {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}

.row[justify-content-start] {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.row[justify-content-center] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.row[justify-content-end] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.row[justify-content-around] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.row[justify-content-between] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.col {
  margin: 0;
  min-height: 1px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  max-width: 100%;
  width: 100%;

  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center

}

.col[align-self-start] {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start
}

.col[align-self-end] {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end
}

.col[align-self-center] {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}

.col[align-self-stretch] {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch
}

.col[align-self-baseline] {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline
}

[col] {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%
}

@media (min-width: 576px) {
  [float-sm-left], [float-sm-start] {
    float: left !important
  }

  [float-sm-end], [float-sm-right] {
    float: right !important
  }

  .grid[fixed] {
    width: 540px;
    max-width: 100%
  }

  [col-10], [col-11], [col-12], [col-1], [col-2], [col-3], [col-4], [col-5], [col-6], [col-7], [col-8], [col-9], [col-sm-1], [col] {
    /*padding: 5px*/
  }
}

@media (min-width: 768px) {
  [float-md-left], [float-md-start] {
    float: left !important
  }

  [float-md-end], [float-md-right] {
    float: right !important
  }

  .grid[fixed] {
    width: 720px;
    max-width: 100%
  }

  [col-10], [col-11], [col-12], [col-1], [col-2], [col-3], [col-4], [col-5], [col-6], [col-7], [col-8], [col-9], [col-sm-1], [col] {
    /*padding: 5px*/
  }
}

@media (min-width: 992px) {
  [float-lg-left], [float-lg-start] {
    float: left !important
  }

  [float-lg-end], [float-lg-right] {
    float: right !important
  }

  .grid[fixed] {
    width: 960px;
    max-width: 100%
  }

  [col-10], [col-11], [col-12], [col-1], [col-2], [col-3], [col-4], [col-5], [col-6], [col-7], [col-8], [col-9], [col-sm-1], [col] {
    /*padding: 5px*/
  }
}

@media (min-width: 1200px) {
  [float-xl-left], [float-xl-start] {
    float: left !important
  }

  [float-xl-end], [float-xl-right] {
    float: right !important
  }

  .grid[fixed] {
    width: 1140px;
    max-width: 100%
  }

  .col {
    /*padding: 5px;*/
  }
}

[col-auto], .col-auto {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto
}

[col-1], .col-1 {
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  width: 8.33333%;
  max-width: 8.33333%
}

[col-2], .col-2 {
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  width: 16.66667%;
  max-width: 16.66667%
}

[col-3], .col-3 {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%;
  max-width: 25%
}

[col-4], .col-4 {
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  width: 33.33333%;
  max-width: 33.33333%
}

[col-5], .col-5 {
  /*padding: 5px;*/
  -webkit-flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  width: 41.66667%;
  max-width: 41.66667%
}

[col-6], .col-6 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%;
  max-width: 50%
}

[col-7], .col-7 {
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  width: 58.33333%;
  max-width: 58.33333%
}

[col-8], .col-8 {
  -webkit-flex: 0 0 66.66667%;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  width: 66.66667%;
  max-width: 66.66667%
}

[col-9], .col-9 {
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  width: 75%;
  max-width: 75%
}

[col-10], .col-10 {
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  width: 83.33333%;
  max-width: 83.33333%
}

[col-11], .col-11 {
  -webkit-flex: 0 0 91.66667%;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  width: 91.66667%;
  max-width: 91.66667%
}

[col-12], .col-12 {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%
}
